In [147]:
import numpy as np
import pandas as pd

In [148]:
CSV_PATH = "../data/data.csv"

In [149]:
#setting our columns to display full values
import warnings
warnings.filterwarnings('ignore')
pd.set_option('max_column', None)

In [150]:
def read_csv(csv_path):
    try:    
        df = pd.read_csv(csv_path)
        print("file read as csv")
        return df
    except FileNotFoundError:
        print("file not found")

In [151]:
df = read_csv(CSV_PATH)

file read as csv

In [152]:
df.head()

,Bearer Id,Start,Start ms,End,End ms,Dur. (ms),IMSI,MSISDN/Number,IMEI,Last Location Name,Avg RTT DL (ms),Avg RTT UL (ms),Avg Bearer TP DL (kbps),Avg Bearer TP UL (kbps),TCP DL Retrans. Vol (Bytes),TCP UL Retrans. Vol (Bytes),DL TP < 50 Kbps (%),50 Kbps < DL TP < 250 Kbps (%),250 Kbps < DL TP < 1 Mbps (%),DL TP > 1 Mbps (%),UL TP < 10 Kbps (%),10 Kbps < UL TP < 50 Kbps (%),50 Kbps < UL TP < 300 Kbps (%),UL TP > 300 Kbps (%),HTTP DL (Bytes),HTTP UL (Bytes),Activity Duration DL (ms),Activity Duration UL (ms),Dur. (ms).1,Handset Manufacturer,Handset Type,Nb of sec with 125000B < Vol DL,Nb of sec with 1250B < Vol UL < 6250B,Nb of sec with 31250B < Vol DL < 125000B,Nb of sec with 37500B < Vol UL,Nb of sec with 6250B < Vol DL < 31250B,Nb of sec with 6250B < Vol UL < 37500B,Nb of sec with Vol DL < 6250B,Nb of sec with Vol UL < 1250B,Social Media DL (Bytes),Social Media UL (Bytes),Google DL (Bytes),Google UL (Bytes),Email DL (Bytes),Email UL (Bytes),Youtube DL (Bytes),Youtube UL (Bytes),Netflix DL (Bytes),Netflix UL (Bytes),Gaming DL (Bytes),Gaming UL (Bytes),Other DL (Bytes),Other UL (Bytes),Total UL (Bytes),Total DL (Bytes)
0,"13,114,483,460,844,900,352.00",4/4/2019 12:01,770.00,4/25/2019 14:35,662.00,"1,823,652.00","208,201,448,079,117.00","33,664,962,239.00","35,521,209,507,511.00",9.16456699548519E+015,42.00,5.00,23.00,44.00,NaN,NaN,100.00,0.00,0.00,0.00,100.00,0.00,0.00,0.00,NaN,NaN,"37,624.00","38,787.00","1,823,652,892.00",Samsung,Samsung Galaxy A5 Sm-A520F,NaN,NaN,NaN,NaN,NaN,NaN,213.00,214.00,"1,545,765.00","24,420.00","1,634,479.00","1,271,433.00","3,563,542.00","137,762.00","15,854,611.00","2,501,332.00","8,198,936.00","9,656,251.00","278,082,303.00","14,344,150.00","171,744,450.00","8,814,393.00","36,749,741.00","308,879,636.00"
1,"13,114,483,482,878,900,224.00",4/9/2019 13:04,235.00,4/25/2019 8:15,606.00,"1,365,104.00","208,201,909,211,140.00","33,681,854,413.00","35,794,009,006,359.00",L77566A,65.00,5.00,16.00,26.00,NaN,NaN,100.00,0.00,0.00,0.00,100.00,0.00,0.00,0.00,NaN,NaN,168.00,"3,560.00","1,365,104,371.00",Samsung,Samsung Galaxy J5 (Sm-J530),NaN,NaN,NaN,NaN,NaN,NaN,971.00,"1,022.00","1,926,113.00","7,165.00","3,493,924.00","920,172.00","629,046.00","308,339.00","20,247,395.00","19,111,729.00","18,338,413.00","17,227,132.00","608,750,074.00","1,170,709.00","526,904,238.00","15,055,145.00","53,800,391.00","653,384,965.00"
2,"13,114,483,484,080,500,736.00",4/9/2019 17:42,1.00,4/25/2019 11:58,652.00,"1,361,762.00","208,200,314,458,056.00","33,760,627,129.00","35,281,510,359,387.00",D42335A,NaN,NaN,6.00,9.00,NaN,NaN,100.00,0.00,0.00,0.00,100.00,0.00,0.00,0.00,NaN,NaN,0.00,0.00,"1,361,762,651.00",Samsung,Samsung Galaxy A8 (2018),NaN,NaN,NaN,NaN,NaN,NaN,751.00,695.00,"1,684,053.00","42,224.00","8,535,055.00","1,694,064.00","2,690,151.00","672,973.00","19,725,661.00","14,699,576.00","17,587,794.00","6,163,408.00","229,584,621.00","395,630.00","410,692,588.00","4,215,763.00","27,883,638.00","279,807,335.00"
3,"13,114,483,485,442,799,616.00",4/10/2019 0:31,486.00,4/25/2019 7:36,171.00,"1,321,509.00","208,201,402,342,131.00","33,750,343,200.00","35,356,610,164,913.00",T21824A,NaN,NaN,44.00,44.00,NaN,NaN,100.00,0.00,0.00,0.00,100.00,0.00,0.00,0.00,NaN,NaN,"3,330.00","37,882.00","1,321,509,685.00",undefined,undefined,NaN,NaN,NaN,NaN,NaN,NaN,17.00,207.00,"644,121.00","13,372.00","9,023,734.00","2,788,027.00","1,439,754.00","631,229.00","21,388,122.00","15,146,643.00","13,994,646.00","1,097,942.00","799,538,153.00","10,849,722.00","749,039,933.00","12,797,283.00","43,324,218.00","846,028,530.00"
4,"13,114,483,499,480,700,928.00",4/12/2019 20:10,565.00,4/25/2019 10:40,954.00,"1,089,009.00","208,201,401,415,120.00","33,699,795,932.00","35,407,009,745,539.00",D88865A,NaN,NaN,6.00,9.00,NaN,NaN,100.00,0.00,0.00,0.00,100.00,0.00,0.00,0.00,NaN,NaN,0.00,0.00,"1,089,009,389.00",Samsung,Samsung Sm-G390F,NaN,NaN,NaN,NaN,NaN,NaN,607.00,604.00,"862,600.00","50,188.00","6,248,284.00","1,500,559.00","1,936,496.00","173,853.00","15,259,380.00","18,962,873.00","17,124,581.00","415,218.00","527,707,248.00","3,529,801.00","550,709,500.00","13,910,322.00","38,542,814.00","569,138,589.00"

In [154]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150001 entries, 0 to 150000
Data columns (total 55 columns):
 #   Column                                    Non-Null Count   Dtype
---  ------                                    --------------   -----
 0   Bearer Id                                 149010 non-null  float64
 1   Start                                     150000 non-null  object
 2   Start ms                                  150000 non-null  float64
 3   End                                       150000 non-null  object
 4   End ms                                    150000 non-null  float64
 5   Dur. (ms)                                 150000 non-null  float64
 6   IMSI                                      149431 non-null  float64
 7   MSISDN/Number                             148935 non-null  float64
 8   IMEI                                      149429 non-null  float64
 9   Last Location Name                        148848 non-null  object
 10  Avg RTT DL (ms)                           122172 non-null  float64
 11  Avg RTT UL (ms)                           122189 non-null  float64
 12  Avg Bearer TP DL (kbps)                   150000 non-null  float64
 13  Avg Bearer TP UL (kbps)                   150000 non-null  float64
 14  TCP DL Retrans. Vol (Bytes)               61855 non-null   float64
 15  TCP UL Retrans. Vol (Bytes)               53352 non-null   float64
 16  DL TP < 50 Kbps (%)                       149247 non-null  float64
 17  50 Kbps < DL TP < 250 Kbps (%)            149247 non-null  float64
 18  250 Kbps < DL TP < 1 Mbps (%)             149247 non-null  float64
 19  DL TP > 1 Mbps (%)                        149247 non-null  float64
 20  UL TP < 10 Kbps (%)                       149209 non-null  float64
 21  10 Kbps < UL TP < 50 Kbps (%)             149209 non-null  float64
 22  50 Kbps < UL TP < 300 Kbps (%)            149209 non-null  float64
 23  UL TP > 300 Kbps (%)                      149209 non-null  float64
 24  HTTP DL (Bytes)                           68527 non-null   float64
 25  HTTP UL (Bytes)                           68191 non-null   float64
 26  Activity Duration DL (ms)                 150000 non-null  float64
 27  Activity Duration UL (ms)                 150000 non-null  float64
 28  Dur. (ms).1                               150000 non-null  float64
 29  Handset Manufacturer                      149429 non-null  object
 30  Handset Type                              149429 non-null  object
 31  Nb of sec with 125000B < Vol DL           52463 non-null   float64
 32  Nb of sec with 1250B < Vol UL < 6250B     57107 non-null   float64
 33  Nb of sec with 31250B < Vol DL < 125000B  56415 non-null   float64
 34  Nb of sec with 37500B < Vol UL            19747 non-null   float64
 35  Nb of sec with 6250B < Vol DL < 31250B    61684 non-null   float64
 36  Nb of sec with 6250B < Vol UL < 37500B    38158 non-null   float64
 37  Nb of sec with Vol DL < 6250B             149246 non-null  float64
 38  Nb of sec with Vol UL < 1250B             149208 non-null  float64
 39  Social Media DL (Bytes)                   150001 non-null  float64
 40  Social Media UL (Bytes)                   150001 non-null  float64
 41  Google DL (Bytes)                         150001 non-null  float64
 42  Google UL (Bytes)                         150001 non-null  float64
 43  Email DL (Bytes)                          150001 non-null  float64
 44  Email UL (Bytes)                          150001 non-null  float64
 45  Youtube DL (Bytes)                        150001 non-null  float64
 46  Youtube UL (Bytes)                        150001 non-null  float64
 47  Netflix DL (Bytes)                        150001 non-null  float64
 48  Netflix UL (Bytes)                        150001 non-null  float64
 49  Gaming DL (Bytes)                         150001 non-null  float64
 50  Gaming UL (Bytes)                         150001 non-null  float64
 51  Other DL (Bytes)                          150001 non-null  float64
 52  Other UL (Bytes)                          150001 non-null  float64
 53  Total UL (Bytes)                          150000 non-null  float64
 54  Total DL (Bytes)                          150000 non-null  float64
dtypes: float64(50), object(5)
memory usage: 62.9+ MB

In [155]:
df.shape

(150001, 55)

In [156]:
df.isnull().sum()

Bearer Id                                      991
Start                                            1
Start ms                                         1
End                                              1
End ms                                           1
Dur. (ms)                                        1
IMSI                                           570
MSISDN/Number                                 1066
IMEI                                           572
Last Location Name                            1153
Avg RTT DL (ms)                              27829
Avg RTT UL (ms)                              27812
Avg Bearer TP DL (kbps)                          1
Avg Bearer TP UL (kbps)                          1
TCP DL Retrans. Vol (Bytes)                  88146
TCP UL Retrans. Vol (Bytes)                  96649
DL TP < 50 Kbps (%)                            754
50 Kbps < DL TP < 250 Kbps (%)                 754
250 Kbps < DL TP < 1 Mbps (%)                  754
DL TP > 1 Mbps (%)                             754
UL TP < 10 Kbps (%)                            792
10 Kbps < UL TP < 50 Kbps (%)                  792
50 Kbps < UL TP < 300 Kbps (%)                 792
UL TP > 300 Kbps (%)                           792
HTTP DL (Bytes)                              81474
HTTP UL (Bytes)                              81810
Activity Duration DL (ms)                        1
Activity Duration UL (ms)                        1
Dur. (ms).1                                      1
Handset Manufacturer                           572
Handset Type                                   572
Nb of sec with 125000B < Vol DL              97538
Nb of sec with 1250B < Vol UL < 6250B        92894
Nb of sec with 31250B < Vol DL < 125000B     93586
Nb of sec with 37500B < Vol UL              130254
Nb of sec with 6250B < Vol DL < 31250B       88317
Nb of sec with 6250B < Vol UL < 37500B      111843
Nb of sec with Vol DL < 6250B                  755
Nb of sec with Vol UL < 1250B                  793
Social Media DL (Bytes)                          0
Social Media UL (Bytes)                          0
Google DL (Bytes)                                0
Google UL (Bytes)                                0
Email DL (Bytes)                                 0
Email UL (Bytes)                                 0
Youtube DL (Bytes)                               0
Youtube UL (Bytes)                               0
Netflix DL (Bytes)                               0
Netflix UL (Bytes)                               0
Gaming DL (Bytes)                                0
Gaming UL (Bytes)                                0
Other DL (Bytes)                                 0
Other UL (Bytes)                                 0
Total UL (Bytes)                                 1
Total DL (Bytes)                                 1
dtype: int64

In [157]:
def percent_missing(df):

    totalCells = np.product(df.shape)
    missingCount = df.isnull().sum()
    totalMissing = missingCount.sum()
    return round((totalMissing / totalCells) * 100, 2)

In [158]:
percent_missing(df)

12.5

In [159]:
def percent_missing_for_col(df, col_name: str):
    total_count = len(df[col_name])
    if total_count <= 0:
        return 0.0
    missing_count = df[col_name].isnull().sum()
    
    return round((missing_count / total_count) * 100, 2)

In [160]:
null_percent_df = pd.DataFrame(columns = ['column', 'null_percent'])
columns = df.columns.values.tolist()
null_percent_df['column'] = columns
null_percent_df['null_percent'] = null_percent_df['column'].map(lambda x: percent_missing_for_col(df, x))

In [161]:
null_percent_df.sort_values(by=['null_percent'], ascending = False)

                                      column         null_percent
34            Nb of sec with 37500B < Vol UL                86.84
36    Nb of sec with 6250B < Vol UL < 37500B                74.56
31           Nb of sec with 125000B < Vol DL                65.02
15               TCP UL Retrans. Vol (Bytes)                64.43
33  Nb of sec with 31250B < Vol DL < 125000B                62.39
32     Nb of sec with 1250B < Vol UL < 6250B                61.93
35    Nb of sec with 6250B < Vol DL < 31250B                58.88
14               TCP DL Retrans. Vol (Bytes)                58.76
25                           HTTP UL (Bytes)                54.54
24                           HTTP DL (Bytes)                54.32
10                           Avg RTT DL (ms)                18.55
11                           Avg RTT UL (ms)                18.54
9                         Last Location Name                 0.77
7                              MSISDN/Number                 0.71
0                                  Bearer Id                 0.66
21             10 Kbps < UL TP < 50 Kbps (%)                 0.53
38             Nb of sec with Vol UL < 1250B                 0.53
23                      UL TP > 300 Kbps (%)                 0.53
22            50 Kbps < UL TP < 300 Kbps (%)                 0.53
20                       UL TP < 10 Kbps (%)                 0.53
18             250 Kbps < DL TP < 1 Mbps (%)                 0.50
17            50 Kbps < DL TP < 250 Kbps (%)                 0.50
16                       DL TP < 50 Kbps (%)                 0.50
37             Nb of sec with Vol DL < 6250B                 0.50
19                        DL TP > 1 Mbps (%)                 0.50
30                              Handset Type                 0.38
29                      Handset Manufacturer                 0.38
8                                       IMEI                 0.38
6                                       IMSI                 0.38
50                         Gaming UL (Bytes)                 0.00
44                          Email UL (Bytes)                 0.00
53                          Total UL (Bytes)                 0.00
52                          Other UL (Bytes)                 0.00
51                          Other DL (Bytes)                 0.00
42                         Google UL (Bytes)                 0.00
49                         Gaming DL (Bytes)                 0.00
45                        Youtube DL (Bytes)                 0.00
46                        Youtube UL (Bytes)                 0.00
47                        Netflix DL (Bytes)                 0.00
48                        Netflix UL (Bytes)                 0.00
43                          Email DL (Bytes)                 0.00
27                 Activity Duration UL (ms)                 0.00
41                         Google DL (Bytes)                 0.00
40                   Social Media UL (Bytes)                 0.00
39                   Social Media DL (Bytes)                 0.00
28                               Dur. (ms).1                 0.00
1                                      Start                 0.00
26                 Activity Duration DL (ms)                 0.00
13                   Avg Bearer TP UL (kbps)                 0.00
12                   Avg Bearer TP DL (kbps)                 0.00
5                                  Dur. (ms)                 0.00
4                                     End ms                 0.00
3                                        End                 0.00
2                                   Start ms                 0.00
54                          Total DL (Bytes)                 0.00

In [162]:
def drop_columns(df, columns=[]):
    return df.drop(columns, axis=1)

In [164]:
columns_to_be_dropped = null_percent_df[null_percent_df['null_percent'] > 30]['column'].to_list()
df = drop_columns(df, columns_to_be_dropped)

In [165]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150001 entries, 0 to 150000
Data columns (total 45 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   Bearer Id                       149010 non-null  float64
 1   Start                           150000 non-null  object
 2   Start ms                        150000 non-null  float64
 3   End                             150000 non-null  object
 4   End ms                          150000 non-null  float64
 5   Dur. (ms)                       150000 non-null  float64
 6   IMSI                            149431 non-null  float64
 7   MSISDN/Number                   148935 non-null  float64
 8   IMEI                            149429 non-null  float64
 9   Last Location Name              148848 non-null  object
 10  Avg RTT DL (ms)                 122172 non-null  float64
 11  Avg RTT UL (ms)                 122189 non-null  float64
 12  Avg Bearer TP DL (kbps)         150000 non-null  float64
 13  Avg Bearer TP UL (kbps)         150000 non-null  float64
 14  DL TP < 50 Kbps (%)             149247 non-null  float64
 15  50 Kbps < DL TP < 250 Kbps (%)  149247 non-null  float64
 16  250 Kbps < DL TP < 1 Mbps (%)   149247 non-null  float64
 17  DL TP > 1 Mbps (%)              149247 non-null  float64
 18  UL TP < 10 Kbps (%)             149209 non-null  float64
 19  10 Kbps < UL TP < 50 Kbps (%)   149209 non-null  float64
 20  50 Kbps < UL TP < 300 Kbps (%)  149209 non-null  float64
 21  UL TP > 300 Kbps (%)            149209 non-null  float64
 22  Activity Duration DL (ms)       150000 non-null  float64
 23  Activity Duration UL (ms)       150000 non-null  float64
 24  Dur. (ms).1                     150000 non-null  float64
 25  Handset Manufacturer            149429 non-null  object
 26  Handset Type                    149429 non-null  object
 27  Nb of sec with Vol DL < 6250B   149246 non-null  float64
 28  Nb of sec with Vol UL < 1250B   149208 non-null  float64
 29  Social Media DL (Bytes)         150001 non-null  float64
 30  Social Media UL (Bytes)         150001 non-null  float64
 31  Google DL (Bytes)               150001 non-null  float64
 32  Google UL (Bytes)               150001 non-null  float64
 33  Email DL (Bytes)                150001 non-null  float64
 34  Email UL (Bytes)                150001 non-null  float64
 35  Youtube DL (Bytes)              150001 non-null  float64
 36  Youtube UL (Bytes)              150001 non-null  float64
 37  Netflix DL (Bytes)              150001 non-null  float64
 38  Netflix UL (Bytes)              150001 non-null  float64
 39  Gaming DL (Bytes)               150001 non-null  float64
 40  Gaming UL (Bytes)               150001 non-null  float64
 41  Other DL (Bytes)                150001 non-null  float64
 42  Other UL (Bytes)                150001 non-null  float64
 43  Total UL (Bytes)                150000 non-null  float64
 44  Total DL (Bytes)                150000 non-null  float64
dtypes: float64(40), object(5)
memory usage: 51.5+ MB

In [169]:
df.columns = [column.replace(' ', '_').lower() for column in df.columns]

In [170]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150001 entries, 0 to 150000
Data columns (total 45 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   bearer_id                       149010 non-null  float64
 1   start                           150000 non-null  object
 2   start_ms                        150000 non-null  float64
 3   end                             150000 non-null  object
 4   end_ms                          150000 non-null  float64
 5   dur._(ms)                       150000 non-null  float64
 6   imsi                            149431 non-null  float64
 7   msisdn/number                   148935 non-null  float64
 8   imei                            149429 non-null  float64
 9   last_location_name              148848 non-null  object
 10  avg_rtt_dl_(ms)                 122172 non-null  float64
 11  avg_rtt_ul_(ms)                 122189 non-null  float64
 12  avg_bearer_tp_dl_(kbps)         150000 non-null  float64
 13  avg_bearer_tp_ul_(kbps)         150000 non-null  float64
 14  dl_tp_<_50_kbps_(%)             149247 non-null  float64
 15  50_kbps_<_dl_tp_<_250_kbps_(%)  149247 non-null  float64
 16  250_kbps_<_dl_tp_<_1_mbps_(%)   149247 non-null  float64
 17  dl_tp_>_1_mbps_(%)              149247 non-null  float64
 18  ul_tp_<_10_kbps_(%)             149209 non-null  float64
 19  10_kbps_<_ul_tp_<_50_kbps_(%)   149209 non-null  float64
 20  50_kbps_<_ul_tp_<_300_kbps_(%)  149209 non-null  float64
 21  ul_tp_>_300_kbps_(%)            149209 non-null  float64
 22  activity_duration_dl_(ms)       150000 non-null  float64
 23  activity_duration_ul_(ms)       150000 non-null  float64
 24  dur._(ms).1                     150000 non-null  float64
 25  handset_manufacturer            149429 non-null  object
 26  handset_type                    149429 non-null  object
 27  nb_of_sec_with_vol_dl_<_6250b   149246 non-null  float64
 28  nb_of_sec_with_vol_ul_<_1250b   149208 non-null  float64
 29  social_media_dl_(bytes)         150001 non-null  float64
 30  social_media_ul_(bytes)         150001 non-null  float64
 31  google_dl_(bytes)               150001 non-null  float64
 32  google_ul_(bytes)               150001 non-null  float64
 33  email_dl_(bytes)                150001 non-null  float64
 34  email_ul_(bytes)                150001 non-null  float64
 35  youtube_dl_(bytes)              150001 non-null  float64
 36  youtube_ul_(bytes)              150001 non-null  float64
 37  netflix_dl_(bytes)              150001 non-null  float64
 38  netflix_ul_(bytes)              150001 non-null  float64
 39  gaming_dl_(bytes)               150001 non-null  float64
 40  gaming_ul_(bytes)               150001 non-null  float64
 41  other_dl_(bytes)                150001 non-null  float64
 42  other_ul_(bytes)                150001 non-null  float64
 43  total_ul_(bytes)                150000 non-null  float64
 44  total_dl_(bytes)                150000 non-null  float64
dtypes: float64(40), object(5)
memory usage: 51.5+ MB

In [171]:
percent_missing(df)

1.02

In [180]:
df['last_location_name'].isnull().sum()
df['handset_manufacturer'].isnull().sum()
df['handset_type'].isnull().sum()
df['start'].isnull().sum()

1