In [1]:
import os
import sys
sys.path.append(os.path.abspath(os.path.join('../scripts')))

In [2]:
#setting our columns to display full values
import warnings
warnings.filterwarnings('ignore')

In [3]:
import numpy as np
import pandas as pd
from helper import TelecomHelper

In [4]:
CSV_PATH = "../data/data.csv"

In [5]:
Helper = TelecomHelper()

In [6]:
df = Helper.read_csv(CSV_PATH)

file read as csv

In [7]:
pd.set_option('max_column', None)

In [8]:
df.head()

,Bearer Id,Start,Start ms,End,End ms,Dur. (ms),IMSI,MSISDN/Number,IMEI,Last Location Name,Avg RTT DL (ms),Avg RTT UL (ms),Avg Bearer TP DL (kbps),Avg Bearer TP UL (kbps),TCP DL Retrans. Vol (Bytes),TCP UL Retrans. Vol (Bytes),DL TP < 50 Kbps (%),50 Kbps < DL TP < 250 Kbps (%),250 Kbps < DL TP < 1 Mbps (%),DL TP > 1 Mbps (%),UL TP < 10 Kbps (%),10 Kbps < UL TP < 50 Kbps (%),50 Kbps < UL TP < 300 Kbps (%),UL TP > 300 Kbps (%),HTTP DL (Bytes),HTTP UL (Bytes),Activity Duration DL (ms),Activity Duration UL (ms),Dur. (ms).1,Handset Manufacturer,Handset Type,Nb of sec with 125000B < Vol DL,Nb of sec with 1250B < Vol UL < 6250B,Nb of sec with 31250B < Vol DL < 125000B,Nb of sec with 37500B < Vol UL,Nb of sec with 6250B < Vol DL < 31250B,Nb of sec with 6250B < Vol UL < 37500B,Nb of sec with Vol DL < 6250B,Nb of sec with Vol UL < 1250B,Social Media DL (Bytes),Social Media UL (Bytes),Google DL (Bytes),Google UL (Bytes),Email DL (Bytes),Email UL (Bytes),Youtube DL (Bytes),Youtube UL (Bytes),Netflix DL (Bytes),Netflix UL (Bytes),Gaming DL (Bytes),Gaming UL (Bytes),Other DL (Bytes),Other UL (Bytes),Total UL (Bytes),Total DL (Bytes)
0,1.311448e+19,4/4/2019 12:01,770.0,4/25/2019 14:35,662.0,1823652.0,2.082014e+14,3.366496e+10,3.552121e+13,9.16456699548519E+015,42.0,5.0,23.0,44.0,NaN,NaN,100.0,0.0,0.0,0.0,100.0,0.0,0.0,0.0,NaN,NaN,37624.0,38787.0,1.823653e+09,Samsung,Samsung Galaxy A5 Sm-A520F,NaN,NaN,NaN,NaN,NaN,NaN,213.0,214.0,1545765.0,24420.0,1634479.0,1271433.0,3563542.0,137762.0,15854611.0,2501332.0,8198936.0,9656251.0,278082303.0,14344150.0,171744450.0,8814393.0,36749741.0,308879636.0
1,1.311448e+19,4/9/2019 13:04,235.0,4/25/2019 8:15,606.0,1365104.0,2.082019e+14,3.368185e+10,3.579401e+13,L77566A,65.0,5.0,16.0,26.0,NaN,NaN,100.0,0.0,0.0,0.0,100.0,0.0,0.0,0.0,NaN,NaN,168.0,3560.0,1.365104e+09,Samsung,Samsung Galaxy J5 (Sm-J530),NaN,NaN,NaN,NaN,NaN,NaN,971.0,1022.0,1926113.0,7165.0,3493924.0,920172.0,629046.0,308339.0,20247395.0,19111729.0,18338413.0,17227132.0,608750074.0,1170709.0,526904238.0,15055145.0,53800391.0,653384965.0
2,1.311448e+19,4/9/2019 17:42,1.0,4/25/2019 11:58,652.0,1361762.0,2.082003e+14,3.376063e+10,3.528151e+13,D42335A,NaN,NaN,6.0,9.0,NaN,NaN,100.0,0.0,0.0,0.0,100.0,0.0,0.0,0.0,NaN,NaN,0.0,0.0,1.361763e+09,Samsung,Samsung Galaxy A8 (2018),NaN,NaN,NaN,NaN,NaN,NaN,751.0,695.0,1684053.0,42224.0,8535055.0,1694064.0,2690151.0,672973.0,19725661.0,14699576.0,17587794.0,6163408.0,229584621.0,395630.0,410692588.0,4215763.0,27883638.0,279807335.0
3,1.311448e+19,4/10/2019 0:31,486.0,4/25/2019 7:36,171.0,1321509.0,2.082014e+14,3.375034e+10,3.535661e+13,T21824A,NaN,NaN,44.0,44.0,NaN,NaN,100.0,0.0,0.0,0.0,100.0,0.0,0.0,0.0,NaN,NaN,3330.0,37882.0,1.321510e+09,undefined,undefined,NaN,NaN,NaN,NaN,NaN,NaN,17.0,207.0,644121.0,13372.0,9023734.0,2788027.0,1439754.0,631229.0,21388122.0,15146643.0,13994646.0,1097942.0,799538153.0,10849722.0,749039933.0,12797283.0,43324218.0,846028530.0
4,1.311448e+19,4/12/2019 20:10,565.0,4/25/2019 10:40,954.0,1089009.0,2.082014e+14,3.369980e+10,3.540701e+13,D88865A,NaN,NaN,6.0,9.0,NaN,NaN,100.0,0.0,0.0,0.0,100.0,0.0,0.0,0.0,NaN,NaN,0.0,0.0,1.089009e+09,Samsung,Samsung Sm-G390F,NaN,NaN,NaN,NaN,NaN,NaN,607.0,604.0,862600.0,50188.0,6248284.0,1500559.0,1936496.0,173853.0,15259380.0,18962873.0,17124581.0,415218.0,527707248.0,3529801.0,550709500.0,13910322.0,38542814.0,569138589.0

In [9]:
def convert_labels(df):
        df.columns = [column.replace(' ', '_').lower() for column in df.columns]
        return df

In [10]:
df = convert_labels(df)

In [11]:
class OverViewAnalysis:
    
    def __init__(self, df):
        
        self.df = df
    
    
    def read_head(self, top=5):
        return self.df.head(top)
    
    # returning the number of rows columns and column information
    def get_info(self):
        row_count, col_count = self.df.shape
    
        print(f"Number of rows: {row_count}")
        print(f"Number of columns: {col_count}")
        print("================================")

        return (row_count, col_count), self.df.info()
    
    # gets number of distnict values in a given coumn
    def get_count(self, column_name):
        return self.df[column_name].value_counts()
    
    def get_null_count(self, column_name):
        print("Null values count")
        print(self.df.isnull().sum())
        return self.df.isnull().sum()
    
    def get_percent_missing(self):
        percent_missing = Helper.percent_missing(self.df)
        
        null_percent_df = pd.DataFrame(columns = ['column', 'null_percent'])
        columns = self.df.columns.values.tolist()
        
        null_percent_df['column'] = columns
        null_percent_df['null_percent'] = null_percent_df['column'].map(lambda x: Helper.percent_missing_for_col(self.df, x))
        
        
        return null_percent_df.sort_values(by=['null_percent'], ascending = False), percent_missing
    
    
    def top_handset_type(self, top=5):
        
        return self.df['handset_type'].value_counts().head(top)
    
    def top_manufacturer(self, top=5):
        
        return self.df['handset_manufacturer'].value_counts().head(top)
    
    def top_handset_by_manufacturer(self, manufacturer, top=5):
        
        return df.groupby('handset_manufacturer')['handset_type'].value_counts()[manufacturer].head(top)

In [12]:
overViewAnal = OverViewAnalysis(df)

In [13]:
overViewAnal.read_head()

,bearer_id,start,start_ms,end,end_ms,dur._(ms),imsi,msisdn/number,imei,last_location_name,avg_rtt_dl_(ms),avg_rtt_ul_(ms),avg_bearer_tp_dl_(kbps),avg_bearer_tp_ul_(kbps),tcp_dl_retrans._vol_(bytes),tcp_ul_retrans._vol_(bytes),dl_tp_<_50_kbps_(%),50_kbps_<_dl_tp_<_250_kbps_(%),250_kbps_<_dl_tp_<_1_mbps_(%),dl_tp_>_1_mbps_(%),ul_tp_<_10_kbps_(%),10_kbps_<_ul_tp_<_50_kbps_(%),50_kbps_<_ul_tp_<_300_kbps_(%),ul_tp_>_300_kbps_(%),http_dl_(bytes),http_ul_(bytes),activity_duration_dl_(ms),activity_duration_ul_(ms),dur._(ms).1,handset_manufacturer,handset_type,nb_of_sec_with_125000b_<_vol_dl,nb_of_sec_with_1250b_<_vol_ul_<_6250b,nb_of_sec_with_31250b_<_vol_dl_<_125000b,nb_of_sec_with_37500b_<_vol_ul,nb_of_sec_with_6250b_<_vol_dl_<_31250b,nb_of_sec_with_6250b_<_vol_ul_<_37500b,nb_of_sec_with_vol_dl_<_6250b,nb_of_sec_with_vol_ul_<_1250b,social_media_dl_(bytes),social_media_ul_(bytes),google_dl_(bytes),google_ul_(bytes),email_dl_(bytes),email_ul_(bytes),youtube_dl_(bytes),youtube_ul_(bytes),netflix_dl_(bytes),netflix_ul_(bytes),gaming_dl_(bytes),gaming_ul_(bytes),other_dl_(bytes),other_ul_(bytes),total_ul_(bytes),total_dl_(bytes)
0,1.311448e+19,4/4/2019 12:01,770.0,4/25/2019 14:35,662.0,1823652.0,2.082014e+14,3.366496e+10,3.552121e+13,9.16456699548519E+015,42.0,5.0,23.0,44.0,NaN,NaN,100.0,0.0,0.0,0.0,100.0,0.0,0.0,0.0,NaN,NaN,37624.0,38787.0,1.823653e+09,Samsung,Samsung Galaxy A5 Sm-A520F,NaN,NaN,NaN,NaN,NaN,NaN,213.0,214.0,1545765.0,24420.0,1634479.0,1271433.0,3563542.0,137762.0,15854611.0,2501332.0,8198936.0,9656251.0,278082303.0,14344150.0,171744450.0,8814393.0,36749741.0,308879636.0
1,1.311448e+19,4/9/2019 13:04,235.0,4/25/2019 8:15,606.0,1365104.0,2.082019e+14,3.368185e+10,3.579401e+13,L77566A,65.0,5.0,16.0,26.0,NaN,NaN,100.0,0.0,0.0,0.0,100.0,0.0,0.0,0.0,NaN,NaN,168.0,3560.0,1.365104e+09,Samsung,Samsung Galaxy J5 (Sm-J530),NaN,NaN,NaN,NaN,NaN,NaN,971.0,1022.0,1926113.0,7165.0,3493924.0,920172.0,629046.0,308339.0,20247395.0,19111729.0,18338413.0,17227132.0,608750074.0,1170709.0,526904238.0,15055145.0,53800391.0,653384965.0
2,1.311448e+19,4/9/2019 17:42,1.0,4/25/2019 11:58,652.0,1361762.0,2.082003e+14,3.376063e+10,3.528151e+13,D42335A,NaN,NaN,6.0,9.0,NaN,NaN,100.0,0.0,0.0,0.0,100.0,0.0,0.0,0.0,NaN,NaN,0.0,0.0,1.361763e+09,Samsung,Samsung Galaxy A8 (2018),NaN,NaN,NaN,NaN,NaN,NaN,751.0,695.0,1684053.0,42224.0,8535055.0,1694064.0,2690151.0,672973.0,19725661.0,14699576.0,17587794.0,6163408.0,229584621.0,395630.0,410692588.0,4215763.0,27883638.0,279807335.0
3,1.311448e+19,4/10/2019 0:31,486.0,4/25/2019 7:36,171.0,1321509.0,2.082014e+14,3.375034e+10,3.535661e+13,T21824A,NaN,NaN,44.0,44.0,NaN,NaN,100.0,0.0,0.0,0.0,100.0,0.0,0.0,0.0,NaN,NaN,3330.0,37882.0,1.321510e+09,undefined,undefined,NaN,NaN,NaN,NaN,NaN,NaN,17.0,207.0,644121.0,13372.0,9023734.0,2788027.0,1439754.0,631229.0,21388122.0,15146643.0,13994646.0,1097942.0,799538153.0,10849722.0,749039933.0,12797283.0,43324218.0,846028530.0
4,1.311448e+19,4/12/2019 20:10,565.0,4/25/2019 10:40,954.0,1089009.0,2.082014e+14,3.369980e+10,3.540701e+13,D88865A,NaN,NaN,6.0,9.0,NaN,NaN,100.0,0.0,0.0,0.0,100.0,0.0,0.0,0.0,NaN,NaN,0.0,0.0,1.089009e+09,Samsung,Samsung Sm-G390F,NaN,NaN,NaN,NaN,NaN,NaN,607.0,604.0,862600.0,50188.0,6248284.0,1500559.0,1936496.0,173853.0,15259380.0,18962873.0,17124581.0,415218.0,527707248.0,3529801.0,550709500.0,13910322.0,38542814.0,569138589.0

In [14]:
overViewAnal.get_info()

Number of rows: 150001
Number of columns: 55
================================
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150001 entries, 0 to 150000
Data columns (total 55 columns):
 #   Column                                    Non-Null Count   Dtype
---  ------                                    --------------   -----
 0   bearer_id                                 149010 non-null  float64
 1   start                                     150000 non-null  object
 2   start_ms                                  150000 non-null  float64
 3   end                                       150000 non-null  object
 4   end_ms                                    150000 non-null  float64
 5   dur._(ms)                                 150000 non-null  float64
 6   imsi                                      149431 non-null  float64
 7   msisdn/number                             148935 non-null  float64
 8   imei                                      149429 non-null  float64
 9   last_location_name                        148848 non-null  object
 10  avg_rtt_dl_(ms)                           122172 non-null  float64
 11  avg_rtt_ul_(ms)                           122189 non-null  float64
 12  avg_bearer_tp_dl_(kbps)                   150000 non-null  float64
 13  avg_bearer_tp_ul_(kbps)                   150000 non-null  float64
 14  tcp_dl_retrans._vol_(bytes)               61855 non-null   float64
 15  tcp_ul_retrans._vol_(bytes)               53352 non-null   float64
 16  dl_tp_<_50_kbps_(%)                       149247 non-null  float64
 17  50_kbps_<_dl_tp_<_250_kbps_(%)            149247 non-null  float64
 18  250_kbps_<_dl_tp_<_1_mbps_(%)             149247 non-null  float64
 19  dl_tp_>_1_mbps_(%)                        149247 non-null  float64
 20  ul_tp_<_10_kbps_(%)                       149209 non-null  float64
 21  10_kbps_<_ul_tp_<_50_kbps_(%)             149209 non-null  float64
 22  50_kbps_<_ul_tp_<_300_kbps_(%)            149209 non-null  float64
 23  ul_tp_>_300_kbps_(%)                      149209 non-null  float64
 24  http_dl_(bytes)                           68527 non-null   float64
 25  http_ul_(bytes)                           68191 non-null   float64
 26  activity_duration_dl_(ms)                 150000 non-null  float64
 27  activity_duration_ul_(ms)                 150000 non-null  float64
 28  dur._(ms).1                               150000 non-null  float64
 29  handset_manufacturer                      149429 non-null  object
 30  handset_type                              149429 non-null  object
 31  nb_of_sec_with_125000b_<_vol_dl           52463 non-null   float64
 32  nb_of_sec_with_1250b_<_vol_ul_<_6250b     57107 non-null   float64
 33  nb_of_sec_with_31250b_<_vol_dl_<_125000b  56415 non-null   float64
 34  nb_of_sec_with_37500b_<_vol_ul            19747 non-null   float64
 35  nb_of_sec_with_6250b_<_vol_dl_<_31250b    61684 non-null   float64
 36  nb_of_sec_with_6250b_<_vol_ul_<_37500b    38158 non-null   float64
 37  nb_of_sec_with_vol_dl_<_6250b             149246 non-null  float64
 38  nb_of_sec_with_vol_ul_<_1250b             149208 non-null  float64
 39  social_media_dl_(bytes)                   150001 non-null  float64
 40  social_media_ul_(bytes)                   150001 non-null  float64
 41  google_dl_(bytes)                         150001 non-null  float64
 42  google_ul_(bytes)                         150001 non-null  float64
 43  email_dl_(bytes)                          150001 non-null  float64
 44  email_ul_(bytes)                          150001 non-null  float64
 45  youtube_dl_(bytes)                        150001 non-null  float64
 46  youtube_ul_(bytes)                        150001 non-null  float64
 47  netflix_dl_(bytes)                        150001 non-null  float64
 48  netflix_ul_(bytes)                        150001 non-null  float64
 49  gaming_dl_(bytes)                         150001 non-null  float64
 50  gaming_ul_(bytes)                         150001 non-null  float64
 51  other_dl_(bytes)                          150001 non-null  float64
 52  other_ul_(bytes)                          150001 non-null  float64
 53  total_ul_(bytes)                          150000 non-null  float64
 54  total_dl_(bytes)                          150000 non-null  float64
dtypes: float64(50), object(5)
memory usage: 62.9+ MB

((150001, 55), None)

In [15]:
df.isnull().sum()

bearer_id                                      991
start                                            1
start_ms                                         1
end                                              1
end_ms                                           1
dur._(ms)                                        1
imsi                                           570
msisdn/number                                 1066
imei                                           572
last_location_name                            1153
avg_rtt_dl_(ms)                              27829
avg_rtt_ul_(ms)                              27812
avg_bearer_tp_dl_(kbps)                          1
avg_bearer_tp_ul_(kbps)                          1
tcp_dl_retrans._vol_(bytes)                  88146
tcp_ul_retrans._vol_(bytes)                  96649
dl_tp_<_50_kbps_(%)                            754
50_kbps_<_dl_tp_<_250_kbps_(%)                 754
250_kbps_<_dl_tp_<_1_mbps_(%)                  754
dl_tp_>_1_mbps_(%)                             754
ul_tp_<_10_kbps_(%)                            792
10_kbps_<_ul_tp_<_50_kbps_(%)                  792
50_kbps_<_ul_tp_<_300_kbps_(%)                 792
ul_tp_>_300_kbps_(%)                           792
http_dl_(bytes)                              81474
http_ul_(bytes)                              81810
activity_duration_dl_(ms)                        1
activity_duration_ul_(ms)                        1
dur._(ms).1                                      1
handset_manufacturer                           572
handset_type                                   572
nb_of_sec_with_125000b_<_vol_dl              97538
nb_of_sec_with_1250b_<_vol_ul_<_6250b        92894
nb_of_sec_with_31250b_<_vol_dl_<_125000b     93586
nb_of_sec_with_37500b_<_vol_ul              130254
nb_of_sec_with_6250b_<_vol_dl_<_31250b       88317
nb_of_sec_with_6250b_<_vol_ul_<_37500b      111843
nb_of_sec_with_vol_dl_<_6250b                  755
nb_of_sec_with_vol_ul_<_1250b                  793
social_media_dl_(bytes)                          0
social_media_ul_(bytes)                          0
google_dl_(bytes)                                0
google_ul_(bytes)                                0
email_dl_(bytes)                                 0
email_ul_(bytes)                                 0
youtube_dl_(bytes)                               0
youtube_ul_(bytes)                               0
netflix_dl_(bytes)                               0
netflix_ul_(bytes)                               0
gaming_dl_(bytes)                                0
gaming_ul_(bytes)                                0
other_dl_(bytes)                                 0
other_ul_(bytes)                                 0
total_ul_(bytes)                                 1
total_dl_(bytes)                                 1
dtype: int64

In [16]:
null_percent_df, overall_missing = overViewAnal.get_percent_missing()
print(f"The overall missing perceentage is: {overall_missing}%")
print("=============================================")
null_percent_df

The overall missing perceentage is: 12.5%
=============================================

                                      column  null_percent
34            nb_of_sec_with_37500b_<_vol_ul         86.84
36    nb_of_sec_with_6250b_<_vol_ul_<_37500b         74.56
31           nb_of_sec_with_125000b_<_vol_dl         65.02
15               tcp_ul_retrans._vol_(bytes)         64.43
33  nb_of_sec_with_31250b_<_vol_dl_<_125000b         62.39
32     nb_of_sec_with_1250b_<_vol_ul_<_6250b         61.93
35    nb_of_sec_with_6250b_<_vol_dl_<_31250b         58.88
14               tcp_dl_retrans._vol_(bytes)         58.76
25                           http_ul_(bytes)         54.54
24                           http_dl_(bytes)         54.32
10                           avg_rtt_dl_(ms)         18.55
11                           avg_rtt_ul_(ms)         18.54
9                         last_location_name          0.77
7                              msisdn/number          0.71
0                                  bearer_id          0.66
21             10_kbps_<_ul_tp_<_50_kbps_(%)          0.53
38             nb_of_sec_with_vol_ul_<_1250b          0.53
23                      ul_tp_>_300_kbps_(%)          0.53
22            50_kbps_<_ul_tp_<_300_kbps_(%)          0.53
20                       ul_tp_<_10_kbps_(%)          0.53
18             250_kbps_<_dl_tp_<_1_mbps_(%)          0.50
17            50_kbps_<_dl_tp_<_250_kbps_(%)          0.50
16                       dl_tp_<_50_kbps_(%)          0.50
37             nb_of_sec_with_vol_dl_<_6250b          0.50
19                        dl_tp_>_1_mbps_(%)          0.50
30                              handset_type          0.38
29                      handset_manufacturer          0.38
8                                       imei          0.38
6                                       imsi          0.38
50                         gaming_ul_(bytes)          0.00
44                          email_ul_(bytes)          0.00
53                          total_ul_(bytes)          0.00
52                          other_ul_(bytes)          0.00
51                          other_dl_(bytes)          0.00
42                         google_ul_(bytes)          0.00
49                         gaming_dl_(bytes)          0.00
45                        youtube_dl_(bytes)          0.00
46                        youtube_ul_(bytes)          0.00
47                        netflix_dl_(bytes)          0.00
48                        netflix_ul_(bytes)          0.00
43                          email_dl_(bytes)          0.00
27                 activity_duration_ul_(ms)          0.00
41                         google_dl_(bytes)          0.00
40                   social_media_ul_(bytes)          0.00
39                   social_media_dl_(bytes)          0.00
28                               dur._(ms).1          0.00
1                                      start          0.00
26                 activity_duration_dl_(ms)          0.00
13                   avg_bearer_tp_ul_(kbps)          0.00
12                   avg_bearer_tp_dl_(kbps)          0.00
5                                  dur._(ms)          0.00
4                                     end_ms          0.00
3                                        end          0.00
2                                   start_ms          0.00
54                          total_dl_(bytes)          0.00

In [17]:
class CleanTelecomData:
    def __init__(self, df: pd.DataFrame):
        self.df = df
        print('Automation in Action...!!!')


    def drop_duplicate(self, df: pd.DataFrame) -> pd.DataFrame:
        """
        drop duplicate rows
        """
        df.drop_duplicates(inplace=True)

        return df

    def convert_to_datetime(self, df: pd.DataFrame) -> pd.DataFrame:
        """
        convert column to datetime
        """

        df['start'] = pd.to_datetime(
            df['start'])
        df['end'] = pd.to_datetime(
            df['end'])

        return df

  
    def drop_columns_with_null_values(self, df: pd.DataFrame, threshold_in_percent=30) -> pd.DataFrame:
        
        overViewAnal = OverViewAnalysis(df)
        null_percent_df, overall_missing = overViewAnal.get_percent_missing()
        columns_to_be_dropped = null_percent_df[null_percent_df['null_percent'] > threshold_in_percent]['column'].to_list()
        df = self.__drop_columns(df, columns_to_be_dropped)

        return df
    
    def drop_rows_with_null_values(self, df: pd.DataFrame, threshold_in_percent=1) -> pd.DataFrame:
                    
        overViewAnal = OverViewAnalysis(df)

        null_percent_df, overall_missing = overViewAnal.get_percent_missing()
        columns_subset = null_percent_df[null_percent_df['null_percent'] < threshold_in_percent]['column'].to_list()
        
        df = df.dropna(subset=columns_subset)

        return df
    
    def handle_missing_qantitative_data_with_mean(self, df):
        numeric_data = ['int16', 'int32', 'int64', 'float16', 'float32', 'float64']
        
        all_cols = df.columns.to_list()
        num_cols =[c for c in all_cols if df[c].dtypes in numeric_data]

        for col in num_cols:
            df[col] = df[col].fillna(df[col].mean())
        
        return df
    
   
    def convert_to_mega_bytes(df):
    
    
        df = convert_bytes_to_megabytes(df, 'social_media_dl_(bytes)')
        df = convert_bytes_to_megabytes(df, 'social_media_ul_(bytes)')

        df = convert_bytes_to_megabytes(df, "google_dl_(bytes)")
        df = convert_bytes_to_megabytes(df, "google_ul_(bytes)")

        df = convert_bytes_to_megabytes(df, "email_dl_(bytes)")
        df = convert_bytes_to_megabytes(df, "email_ul_(bytes)")

        df = convert_bytes_to_megabytes(df, "youtube_dl_(bytes)")
        df = convert_bytes_to_megabytes(df, "youtube_ul_(bytes)")

        df = convert_bytes_to_megabytes(df, "netflix_dl_(bytes)")
        df = convert_bytes_to_megabytes(df, "netflix_ul_(bytes)")


        df = convert_bytes_to_megabytes(df, "gaming_dl_(bytes)")
        df = convert_bytes_to_megabytes(df, "gaming_ul_(bytes)")

        df = convert_bytes_to_megabytes(df, "other_dl_(bytes)")
        df = convert_bytes_to_megabytes(df, "other_ul_(bytes)")

        df = convert_bytes_to_megabytes(df, "total_dl_(bytes)")
        df = convert_bytes_to_megabytes(df, "total_ul_(bytes)")

        converted_df = df.rename(columns = {'social_media_dl_(bytes)' : 'social_media_dl',
                                            'social_media_ul_(bytes)' : 'social_media_ul',

                                            'google_dl_(bytes)' : 'google_dl',
                                            'google_ul_(bytes)' : 'google_ul',

                                            'email_dl_(bytes)' : 'email_dl',
                                            'email_ul_(bytes)' : 'email_ul',

                                            'youtube_dl_(bytes)' : 'youtube_dl',
                                            'youtube_ul_(bytes)' : 'youtube_ul',

                                            'netflix_dl_(bytes)' : 'netflix_dl',
                                            'netflix_ul_(bytes)' : 'netflix_ul',

                                            'gaming_dl_(bytes)' : 'gaming_dl',
                                            'gaming_ul_(bytes)' : 'gaming_ul',

                                            'other_dl_(bytes)' : 'other_dl',
                                            'other_ul_(bytes)' : 'other_ul',

                                            'total_dl_(bytes)' : 'total_dl',
                                            'total_ul_(bytes)' : 'total_ul',
                                            })
        return converted_df
    

    def __drop_columns(self, df, columns=[]):
        
        return df.drop(columns, axis=1)
    
    
    def __convert_bytes_to_megabytes(df, bytes_data):
   
        megabyte = 1*10e+5
        megabyte_col = df[bytes_data] / megabyte

        return megabyte_col

In [18]:
cleanTelecomData = CleanTelecomData(df)

Automation in Action...!!!

In [19]:

cleaned_df = cleanTelecomData.drop_columns_with_null_values(df)

cleaned_df = cleanTelecomData.convert_to_datetime(cleaned_df)

cleaned_df = cleanTelecomData.drop_duplicate(cleaned_df)

cleaned_df = cleanTelecomData.drop_rows_with_null_values(cleaned_df)

cleaned_df = cleanTelecomData.handle_missing_qantitative_data_with_mean(cleaned_df)



overViewAnal_2 = OverViewAnalysis(cleaned_df)

In [20]:
null_percent_df, overall_missing = overViewAnal_2.get_percent_missing()
print(f"The overall missing perceentage is: {overall_missing}%")
print("=============================================")

The overall missing perceentage is: 0.0%
=============================================

In [21]:
print(f"percent of null value rows in last_location_name column: {Helper.percent_missing_for_col(cleaned_df, 'last_location_name')}%"
     )
print(f"percent of null value rows in handset_manufacturer: {Helper.percent_missing_for_col(cleaned_df, 'handset_manufacturer')}%")
print(f"percent of null value rows in handset_type: {Helper.percent_missing_for_col(cleaned_df, 'handset_type')}%")
print(f"percent of null value rows in start: {Helper.percent_missing_for_col(cleaned_df, 'start')}%")
print(f"percent of null value rows in end: {Helper.percent_missing_for_col(cleaned_df, 'end')}%")

percent of null value rows in last_location_name column: 0.0%
percent of null value rows in handset_manufacturer: 0.0%
percent of null value rows in handset_type: 0.0%
percent of null value rows in start: 0.0%
percent of null value rows in end: 0.0%

In [22]:
overViewAnal.top_handset_type(top=10)

Huawei B528S-23A                19752
Apple iPhone 6S (A1688)          9419
Apple iPhone 6 (A1586)           9023
undefined                        8987
Apple iPhone 7 (A1778)           6326
Apple iPhone Se (A1723)          5187
Apple iPhone 8 (A1905)           4993
Apple iPhone Xr (A2105)          4568
Samsung Galaxy S8 (Sm-G950F)     4520
Apple iPhone X (A1901)           3813
Name: handset_type, dtype: int64

In [23]:
overViewAnal.top_manufacturer(top=3)

Apple      59565
Samsung    40839
Huawei     34423
Name: handset_manufacturer, dtype: int64

In [24]:
overViewAnal.top_handset_by_manufacturer('Apple', 5)

handset_type
Apple iPhone 6S (A1688)    9419
Apple iPhone 6 (A1586)     9023
Apple iPhone 7 (A1778)     6326
Apple iPhone Se (A1723)    5187
Apple iPhone 8 (A1905)     4993
Name: handset_type, dtype: int64

In [25]:
overViewAnal.top_handset_by_manufacturer('Samsung', 5)

handset_type
Samsung Galaxy S8 (Sm-G950F)    4520
Samsung Galaxy A5 Sm-A520F      3724
Samsung Galaxy J5 (Sm-J530)     3696
Samsung Galaxy J3 (Sm-J330)     3484
Samsung Galaxy S7 (Sm-G930X)    3199
Name: handset_type, dtype: int64

In [26]:
overViewAnal.top_handset_by_manufacturer('Huawei', 5)

handset_type
Huawei B528S-23A                  19752
Huawei E5180                       2079
Huawei P20 Lite Huawei Nova 3E     2021
Huawei P20                         1480
Huawei Y6 2018                      997
Name: handset_type, dtype: int64

In [27]:
cleaned_df['bearer_id'].isnull().any()
print(f"percent missing for bearer_id is:{Helper.percent_missing_for_col(cleaned_df, 'bearer_id')}")

percent missing for bearer_id is:0.0

In [28]:
print(f"percent missing for msisdn/number is:{Helper.percent_missing_for_col(cleaned_df, 'msisdn/number')}")

percent missing for msisdn/number is:0.0

In [29]:
cleaned_df = cleaned_df.dropna(subset=['msisdn/number'])
print(f"percent missing for msisdn/number is:{Helper.percent_missing_for_col(cleaned_df, 'msisdn/number')}")

percent missing for msisdn/number is:0.0

In [30]:
sessions = cleaned_df.groupby('msisdn/number').agg({'bearer_id': 'count'})
sessions = sessions.rename(columns= {'bearer_id': 'xDR_sessions'})
sessions.sort_values(by=['xDR_sessions'], ascending = False).head(10)

               xDR_sessions
msisdn/number
3.362632e+10             18
3.361489e+10             17
3.362578e+10             17
3.365973e+10             16
3.367588e+10             15
3.376054e+10             15
3.366716e+10             13
3.360313e+10             12
3.376041e+10             12
3.362708e+10             12

In [31]:
print(f"percent missing for dur._(ms) is:{Helper.percent_missing_for_col(cleaned_df, 'dur._(ms)')}")

percent missing for dur._(ms) is:0.0

In [32]:
durations = cleaned_df.groupby('msisdn/number').agg({'dur._(ms)': 'sum'})
#here is the duration for first five rows in our dataset
durations=durations.rename(columns= {'dur._(ms)': 'total_duration(ms)'})
durations.sort_values(by=['total_duration(ms)'], ascending = False).head(10)

               total_duration(ms)
msisdn/number
3.362578e+10           18553754.0
3.361489e+10            9966898.0
3.376054e+10            9279434.0
3.362632e+10            8791927.0
3.366716e+10            8744914.0
3.366469e+10            6288730.0
3.360313e+10            6287761.0
3.366746e+10            5649882.0
3.376041e+10            5321667.0
3.360452e+10            5207990.0

In [33]:
total_data_df = cleaned_df[['msisdn/number','total_ul_(bytes)','total_dl_(bytes)']].copy()
total_data_df = total_data_df.groupby('msisdn/number').sum()
total_data_df['total_data(bytes)'] = total_data_df['total_ul_(bytes)'] + total_data_df['total_dl_(bytes)']
total_data_df.sort_values(by=['total_data(bytes)'], ascending = False).head(10)

               total_ul_(bytes)  total_dl_(bytes)  total_data(bytes)
msisdn/number
3.361489e+10        689483001.0      8.156743e+09       8.846226e+09
3.376054e+10        703478581.0      7.811295e+09       8.514774e+09
3.362578e+10        729577380.0      7.770043e+09       8.499621e+09
3.362632e+10        669650721.0      7.301517e+09       7.971167e+09
3.367588e+10        581568792.0      7.309542e+09       7.891111e+09
3.365973e+10        624260321.0      7.081602e+09       7.705863e+09
3.366646e+10        405060976.0      6.903440e+09       7.308501e+09
3.376041e+10        521518890.0      6.610852e+09       7.132371e+09
3.366471e+10        471244453.0      6.400774e+09       6.872018e+09
3.369879e+10        530343105.0      6.010556e+09       6.540899e+09

In [34]:
cleaned_df["social_media"] = cleaned_df["social_media_dl_(bytes)"] + cleaned_df['social_media_ul_(bytes)']
cleaned_df["google"] = cleaned_df["google_dl_(bytes)"] + cleaned_df["google_ul_(bytes)"]
cleaned_df['email'] = cleaned_df["email_dl_(bytes)"] + cleaned_df["email_ul_(bytes)"]
cleaned_df['youtube'] = cleaned_df["youtube_dl_(bytes)"] + cleaned_df["youtube_ul_(bytes)"]
cleaned_df['netflix'] = cleaned_df["netflix_dl_(bytes)"] + cleaned_df["netflix_ul_(bytes)"]
cleaned_df["gaming"] = cleaned_df["gaming_dl_(bytes)"] + cleaned_df["gaming_ul_(bytes)"]
cleaned_df['other']= cleaned_df["other_dl_(bytes)"]+ cleaned_df["other_ul_(bytes)"]
cleaned_df['total_data'] = cleaned_df['total_dl_(bytes)'] + cleaned_df['total_ul_(bytes)']

In [35]:
app_total_data = cleaned_df[['msisdn/number','social_media','google',
                             'email', 'youtube','netflix', 'gaming','other']].copy()

In [36]:
app_total_data.groupby('msisdn/number').sum().sample(10)

,social_media,google,email,youtube,netflix,gaming,other
msisdn/number,,,,,,,
3.366084e+10,4112124.0,20663609.0,4311483.0,52581239.0,44735900.0,686824136.0,8.832481e+08
3.366207e+10,5203145.0,18812432.0,6653867.0,26484159.0,43159062.0,822855312.0,1.120650e+09
3.366157e+10,2080350.0,2173683.0,3531783.0,29868426.0,24501448.0,695381310.0,6.006562e+08
3.366122e+10,570697.0,11834998.0,4097741.0,26938331.0,19956899.0,469297460.0,5.371970e+08
3.366646e+10,788394.0,4611925.0,3270792.0,31329606.0,17722098.0,212747657.0,1.838269e+08
3.361067e+10,6300446.0,18003980.0,3856515.0,33801775.0,45697092.0,513588947.0,2.215034e+08
3.365087e+10,1044890.0,9751226.0,4101646.0,24420697.0,21159534.0,664919646.0,8.926854e+07
3.361420e+10,78358.0,5822464.0,1293873.0,30127530.0,21504401.0,669970049.0,5.540443e+08
3.360420e+10,1089970.0,11604883.0,307738.0,15925356.0,27707686.0,137115363.0,3.170855e+08
3.366658e+10,2996602.0,6877859.0,1154553.0,8527011.0,39055562.0,292476849.0,6.913212e+08

In [43]:
def save_csv(df, csv_path):
    try: 
        df.to_csv(csv_path, index=False)
        print('File Successfully Saved.!!!')
        
    except Exception:
        print("Save failed...")
    
    return df

In [44]:
SAVE_PATH = "../data/cleaned_data.csv"

In [45]:
cleaned_df =save_csv(cleaned_df, SAVE_PATH)

File Successfully Saved.!!!

In [47]:
Helper.percent_missing(cleaned_df)

0.0

In [48]:
cleaned_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 146891 entries, 0 to 149999
Data columns (total 53 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   bearer_id                       146891 non-null  float64
 1   start                           146891 non-null  datetime64[ns]
 2   start_ms                        146891 non-null  float64
 3   end                             146891 non-null  datetime64[ns]
 4   end_ms                          146891 non-null  float64
 5   dur._(ms)                       146891 non-null  float64
 6   imsi                            146891 non-null  float64
 7   msisdn/number                   146891 non-null  float64
 8   imei                            146891 non-null  float64
 9   last_location_name              146891 non-null  object
 10  avg_rtt_dl_(ms)                 146891 non-null  float64
 11  avg_rtt_ul_(ms)                 146891 non-null  float64
 12  avg_bearer_tp_dl_(kbps)         146891 non-null  float64
 13  avg_bearer_tp_ul_(kbps)         146891 non-null  float64
 14  dl_tp_<_50_kbps_(%)             146891 non-null  float64
 15  50_kbps_<_dl_tp_<_250_kbps_(%)  146891 non-null  float64
 16  250_kbps_<_dl_tp_<_1_mbps_(%)   146891 non-null  float64
 17  dl_tp_>_1_mbps_(%)              146891 non-null  float64
 18  ul_tp_<_10_kbps_(%)             146891 non-null  float64
 19  10_kbps_<_ul_tp_<_50_kbps_(%)   146891 non-null  float64
 20  50_kbps_<_ul_tp_<_300_kbps_(%)  146891 non-null  float64
 21  ul_tp_>_300_kbps_(%)            146891 non-null  float64
 22  activity_duration_dl_(ms)       146891 non-null  float64
 23  activity_duration_ul_(ms)       146891 non-null  float64
 24  dur._(ms).1                     146891 non-null  float64
 25  handset_manufacturer            146891 non-null  object
 26  handset_type                    146891 non-null  object
 27  nb_of_sec_with_vol_dl_<_6250b   146891 non-null  float64
 28  nb_of_sec_with_vol_ul_<_1250b   146891 non-null  float64
 29  social_media_dl_(bytes)         146891 non-null  float64
 30  social_media_ul_(bytes)         146891 non-null  float64
 31  google_dl_(bytes)               146891 non-null  float64
 32  google_ul_(bytes)               146891 non-null  float64
 33  email_dl_(bytes)                146891 non-null  float64
 34  email_ul_(bytes)                146891 non-null  float64
 35  youtube_dl_(bytes)              146891 non-null  float64
 36  youtube_ul_(bytes)              146891 non-null  float64
 37  netflix_dl_(bytes)              146891 non-null  float64
 38  netflix_ul_(bytes)              146891 non-null  float64
 39  gaming_dl_(bytes)               146891 non-null  float64
 40  gaming_ul_(bytes)               146891 non-null  float64
 41  other_dl_(bytes)                146891 non-null  float64
 42  other_ul_(bytes)                146891 non-null  float64
 43  total_ul_(bytes)                146891 non-null  float64
 44  total_dl_(bytes)                146891 non-null  float64
 45  social_media                    146891 non-null  float64
 46  google                          146891 non-null  float64
 47  email                           146891 non-null  float64
 48  youtube                         146891 non-null  float64
 49  netflix                         146891 non-null  float64
 50  gaming                          146891 non-null  float64
 51  other                           146891 non-null  float64
 52  total_data                      146891 non-null  float64
dtypes: datetime64[ns](2), float64(48), object(3)
memory usage: 60.5+ MB